{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
    <div class="card p-4">
        {% if form.errors %}
        <div class="px-6 pt-2">
            <div class="alert alert-destructive">
                <section>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </section>
            </div>
        </div>
        {% endif %}

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}

            <section class="flex flex-col gap-6 py-6 px-1">
                <header class="space-y-1">
                    <h3 class="text-2xl font-bold">Alterar Senha</h3>
                    <p class="text-muted-foreground">Digite sua senha antiga e uma nova para atualizar sua segurança.
                    </p>
                </header>
                {% for field in form %}
                <div class="field">
                    <label for="{{ field.id_for_label }}" class="text-foreground font-medium mb-1.5">
                        {% if field.name == "old_password" %}Senha Antiga{% elif field.name == "password1" %}Nova
                        Senha{% else %}Confirme a Nova Senha{% endif %}
                    </label>
                    <div class="relative">
                        <input type="password" name="{{ field.name }}" id="{{ field.id_for_label }}"
                            class="input w-full pr-10" required>
                        <button type="button" onclick="togglePasswordVisibility(this)"
                            class="absolute right-3 top-1/2 -translate-y-1/2 text-muted-foreground hover:text-foreground">
                            <i data-lucide="eye" class="w-4 h-4"></i>
                            <i data-lucide="eye-off" class="w-4 h-4 hidden"></i>
                        </button>
                    </div>

                    {% if field.name == "password1" %}
                    <p class="text-[11px] text-muted-foreground mt-2 px-1">
                        A senha deve ter pelo menos 8 caracteres e não pode ser muito comum ou similar aos seus dados.
                    </p>
                    {% endif %}
                </div>
                {% endfor %}
            </section>



            <footer class="flex flex-col gap-4">
                <button class="btn btn-primary w-full" type="submit">Alterar Senha</button>
                <div class="text-center">
                    <a href="{% url 'profile' %}" class="text-sm text-muted-foreground hover:text-foreground">Voltar ao
                        Perfil</a>
                </div>
            </footer>
        </form>
    </div>
</div>
{% endblock %}